* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: rgb(41, 39, 39);
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    margin: 0 auto;
    height: 100vh;
    max-width: 100%;
    padding: 3rem;
}

.slider{
    margin: 0 auto;
    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1000px;
    justify-content: space-between;
}
.image{
    max-width: 100%;
    object-fit: cover;
}

.slider__info{
    width: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.slider__contr{
    padding: 20px;
}
